:root {
    --primary-text-color: #757575;
    --primary-bg-color: #FFFFFF;
    --white-color: #ffffff;
    --logo-color: #000000;
    --secont-text-color: #212121;
    --accent-color: #2196F3;
    --accent-bg-color: #2196F3;
    --secont-bg-color: #2F303A;
    --third-text-color: rgba(255, 255, 255, 0.6);
    --description-color: #EEEEEE;
    --hero-bg-color: rgba(47, 48, 58, 0.4);
    --feature-icon-color: #F5F4FA;
    --wabs-iconhover-color: #FFFFFF;
    --web-icon-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --item-engaged-image: rgba(47, 48, 58, 0.8);
}